<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>BreezeCast</title>
	</head>
	<body class="bg-sky-200 font-inter text-xl text-neutral-700">
		<h1 class="mt-4 text-center font-aclonica text-6xl text-black"
			>BreezeCast</h1
		>
		<h2 class="mt-4 text-center font-allura text-3xl text-black/60"
			>A simple weather forecast app.</h2
		>
		<div
			class="mt-10 flex flex-col content-center justify-center gap-3"
			id="app">
			<form class="flex justify-center gap-3" id="search-form" novalidate>
				<input
					id="search-query"
					name="search-query"
					class="rounded-full bg-zinc-200 px-5 py-2 outline-1 invalid:bg-red-300 invalid:outline-red-800"
					type="text"
					placeholder="Search for a location"
					pattern="([A-Za-z]+\s?[A-Za-z]+)+" />
				<input
					id="search-button"
					name="search-button"
					class="cursor-pointer rounded-[100%] bg-cyan-200 p-2 font-bold text-neutral-100 outline-1 outline-black hover:bg-cyan-300"
					type="submit"
					value="🔎" />
			</form>
			<span
				id="search-error"
				class="hidden self-center rounded-full bg-red-800 p-2 text-sm font-bold text-red-100"></span>
			<div class="mx-auto hidden w-2/3 grid-cols-4 gap-2" id="results"> </div>
			<div class="mt-10 hidden justify-center" id="loading">
				<span class="icon-[line-md--loading-loop] text-5xl"></span>
			</div>
		</div>
	</body>
</html>
